/* 
COMMON
********************/

html,
body {
    height: 100%;
}

.content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.content .main {
    display: flex;
    justify-content: left;
    align-items: center;
}
.content .main img{
    width: 4vw;
}
.content .post_form{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-left: 1rem;
}
.content .post_form .logo img{
    width: 4vw;
}
.content .post_form .input_area input[type="text"]{
    border: none;
    width: 90%;
    background-color:deepskyblue;
}
.content .post_form .input_area textarea{
    border: none;
    /* background-color: white; */
    width: 90%;
    height: 10vh;
    resize: none;
    /* text-align:left; */
}
.content .post_form .input_area button{
    margin-left: 6rem;
    width: 10vw;
    height: 5vh;
    background-color:darkturquoise;
    color: white;
    border: none;
}
Post 
*******************/

.post_form {
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
}

.post_form input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.post_form textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
}

.posts ul {
    padding: 0;
}

.posts li {
    position: relative;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 20px ;
    border: 1px solid #ccc;
    list-style: none;
    position: relative;
}
.posts li .menu_icon {
    width: 46px;
    position: absolute;
    right: 10px;
    top: 8px;
}

 /* .post li .menu_icon {
    width: 20px;
    position: absolute;
    right: 441px;
} */

.posts li .menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
  }

.posts li .menu a {
    text-decoration: none;
}

.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 60%;
}

.posts li .name_body {
    flex-basis: 85%;
}

.posts li .name_body .name {
    font-weight: bold;
}

.posts li .name_body .datetime {
    color: gray;
}
 #choosefile{
    width: 45%;
 }
 .banner {
    padding-top: 20px;
 }

 #tweet {
    background-color: rgb(29, 161, 242);
    color:#ccc;
    border: 0;
    padding: 7px;
    border-radius: 10 px;
    position: relative;
    left: 42%;
 } 

#cancel {
    text-decoration: none;
    border: 1px solid;
    padding: 6px;
    background-color: gray;
    color: #ccc;
    border-radius: 10px;
}
#update {
    text-decoration: none;
    border: 1px solid;
    padding: 6px;
    background-color: rgb(29, 161, 242);
    color: #ccc;
    border-radius: 10px;
}
.body-image {
 width: 80%;
 height: 300px;
 object-fit: cover;
 border-radius: 15px;
 margin-bottom: 10px;
 margin-right: 5px;
 border: 1px solid rgb(197, 199, 201);   
}

.icon_list {
    display: flex;
    margin-top: 15px;

}
.icon_list .like img {
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
}
.like-count {
    width: 25px;
    padding-top: 2px;
    color: #474747;
}
 

@media screen and (max-width: 500px) {
    .posts li .name_body .name {
        font-size: 20px;
    }
}